<div class="container mt-3 text-center">
  <div class="container">
    <h1>{{ poke.name | titlecase }}</h1>
  </div>

  <div class="container">
    <img src="{{ poke.sprites.front_default }}" alt="" />
  </div>

  <div class="container">
    <button (click)="addPoke(true)" class="btn btn-success m-3">Cattura</button>
    <button (click)="addPoke(false)" class="btn btn-danger m-3">Rifiuta</button>
  </div>

  <div class="container">
    <h5>È apparso un {{ poke.name | titlecase }} selvatico</h5>
  </div>
</div>
<div class="container text-center">
  <h3>Dettagli</h3>
  <h5>ID: {{ poke.id }}</h5>
  <h5>Nome: {{ poke.name | titlecase }}</h5>
  <h5>Peso: {{ poke.weight }} lb</h5>
  <h5>Altezza: {{ poke.height }} ft</h5>
</div>

<div class="container d-flex justify-content-around">
  <div class="container">
    <h3>Catturati: {{ catchPoke.length }}</h3>
    <div class="container" *ngFor="let i of catchPoke">
      <img src="{{ poke.sprites.front_default }}" alt="" />
      <h5>{{ poke.name | titlecase }}</h5>
    </div>
  </div>

  <div class="container">
    <h3>Rifiutati: {{ rejectPoke.length }}</h3>
    <div class="container" *ngFor="let i of rejectPoke">
      <img src="{{ poke.sprites.front_default }}" alt="" />
      <h5>#{{ poke.id }}</h5>
      <h5>{{ poke.name | titlecase }}</h5>
    </div>
  </div>
</div>
